.navbar-brand,
.navbar-nav a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url("https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg");

}


.container{
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(153, 147, 147);
    border: solid 2px black;
    margin-top: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;

        

}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px ivory;
}

img{
    border: solid black 3px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    position: absolute;
    bottom: 0;
    font-size: large;
    margin-left: 27%;



}

p {
margin-left: -110px;

}

#brand{
    margin: 20px;
}

hr{
    height: 3px;
}