.navbar-brand,
.navbar-nav a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url("https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg");

}


.container{
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(153, 147, 147);
    border: solid 2px black;
    margin-top: 90px;
        

}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
}

img{
    border: solid black 3px;
    margin: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    font-size: large;
    margin-left: 27%;



}